* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: saddlebrown;
    text-decoration: none;
}

header {
    position: fixed;
    background-color: beige;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    display: flex;
}

header .logo {
    margin-left: 15px;
    align-items: center;
    display: flex;
}

nav {
    width: 30%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

#content {
    height: 1000px;
    background-image: url(assets/img/bg-web-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.profile-pic {
    margin-top: 15vh;
    margin-bottom: 25px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.name {
    font-size: 24px;
}

.icon {
    width: 35px;
    height: 35px;
}

.link {
    margin-top: 15px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

p {
    padding: 3px;
}

.drop-down {
    padding: 35px;
}

footer {
    background-color: brown;
    width: 100%;
    height: 10vh;
    padding-left: 15px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-start;
}

.abt-me {
    font-size: 30px;
    margin: 10vh;
}

.desc-abt-me {
    justify-content: center;
    display: flex;
}

.me {
    width: 80%;
    font-size: large;
    justify-content: center;
    display: flex;
}